{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
    <section class="section section--centered site-intro">
        <div class="wrap">
    	    <h1>{{ entry.title }}</h1>
    	   {{ entry.body }}
        </div>
    </section>
    <section class="section section--centered">
        <div class="wrap">
        	<ul class="restaurants">
                {% set alphabet = [
                    'a',
                    'b',
                    'c',
                    'd',
                    'e',
                    'f',
                    'g',
                    'h',
                    'i',
                    'j',
                    'l',
                    'm',
                    'n',
                    'o',
                    'p',
                    'q',
                    'r',
                    's',
                    't',
                    'u',
                    'v',
                    'w',
                    'x',
                    'y',
                    'z'
                ] %}
                {% for letter in alphabet %}
                    <li class="restaurants__restaurant-wrap">
                        <div class="restaurants__restaurant">
                            {% set category = craft.categories.section('restaurants').letter(letter).first() %}
                            {% if category %}
                                {% for image in category.image %}
                                    <img src="{{ image.getUrl('restaurantHomepage') }}">
                                {% endfor %}
                                <h2 class="restaurants__title"><span class="restaurants__firstword">{{ category.shortName }}</span> Fried Chicken</h2>
                            {% else %}
                                <img src="/assets/images/{{ letter }}.png" />
                                <h2 class="restaurants__title">-</h2>
                            {% endif %}
                        </div>
                    </li>
        		{% endfor %}
        	</ul>
        </div>
    </section>
{% endblock %}
